<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xun.playground.horr.story.model.HorrStListMapper">

    <!-- SELECT 결과 Map -->
    <resultMap id="HorrStResultMap" type="com.xun.playground.horr.story.dto.HorrStDTO">
        <result property="horrStNo"    column="HORR_ST_NO" />
        <result property="viewCount"   column="VIEW_COUNT" />
        <result property="title"       column="TITLE" />
        <result property="content"     column="CONTENT" />
        <result property="isDelete"    column="IS_DELETE" />
        <result property="enterBy"     column="ENTER_BY" />
        <result property="enterDate"   column="ENTER_DATE" />
        <result property="updateBy"    column="UPDATE_BY" />
        <result property="updateDate"  column="UPDATE_DATE" />
    </resultMap>

    <!-- WHERE 조건 -->
    <sql id="conditions">
        <where>
            ifnull(IS_DELETE, '') != 'Y'
            <if test="searchText != null and searchText.equals('') == false">
                AND (
                    TITLE LIKE CONCAT('%', #{searchText}, '%')
                    OR CONTENT LIKE CONCAT('%', #{searchText}, '%')
                    OR ENTER_BY LIKE CONCAT('%', #{searchText}, '%')
                    OR ENTER_DATE LIKE CONCAT('%', #{searchText}, '%')
                )
                <!--<choose>
                    <when test="searchType == null or searchType.equals('')">
                        AND (
                            title LIKE CONCAT('%', #{searchText}, '%')
                            OR content LIKE CONCAT('%', #{searchText}, '%')
                            OR enterBy LIKE CONCAT('%', #{searchText}, '%')
                            OR enterDate LIKE CONCAT('%', #{searchText}, '%')
                        )
                    </when>
                    <otherwise>
                        <choose>
                            <when test="searchType.equals('title')">
                                AND title LIKE CONCAT('%', #{keyword}, '%')
                            </when>

                            <when test="searchType.equals('content')">
                                AND content LIKE CONCAT('%', #{keyword}, '%')
                            </when>

                            <when test="searchType.equals('writer')">
                                AND writer LIKE CONCAT('%', #{keyword}, '%')
                            </when>
                        </choose>
                    </otherwise>
                </choose>-->
            </if>
        </where>
    </sql>

    <!-- 게시글 수 조회 -->
    <select id="totalCnt" parameterType="com.xun.playground.common.paging.FilterDTO" resultType="int">
        SELECT COUNT(*)
        FROM   HORROR_STORY
        <include refid="conditions" />
    </select>

    <!-- 게시글 리스트 조회 -->
    <select id="findAll" parameterType="com.xun.playground.common.paging.FilterDTO" resultMap="HorrStResultMap">
        SELECT
             s.HORR_ST_NO,
             s.VIEW_COUNT,
             s.TITLE,
             CONTENT,
            (SELECT m.NAME
             FROM   MEMBER m
             WHERE  m.MEMBER_NO = s.ENTER_BY) ENTER_BY,
             DATE_FORMAT(s.ENTER_DATE, '%Y-%m-%d') ENTER_DATE,
             s.UPDATE_BY,
             DATE_FORMAT(s.UPDATE_DATE, '%Y-%m-%d') UPDATE_DATE
        FROM HORROR_STORY s
        <include refid="conditions" />
        ORDER BY ENTER_DATE DESC
        LIMIT #{pagination.limitStart}, #{pageCount}
    </select>

    <!--조회수 많은 게시물 리스트-->
    <select id="findViewTopList" resultMap="HorrStResultMap">
        SELECT
        s.HORR_ST_NO,
        s.VIEW_COUNT,
        s.TITLE,
        CONTENT,
        (SELECT m.NAME
        FROM   MEMBER m
        WHERE  m.MEMBER_NO = s.ENTER_BY) ENTER_BY,
        DATE_FORMAT(s.ENTER_DATE, '%Y-%m-%d') ENTER_DATE,
        s.UPDATE_BY,
        DATE_FORMAT(s.UPDATE_DATE, '%Y-%m-%d') UPDATE_DATE
        FROM HORROR_STORY s
        ORDER BY s.VIEW_COUNT DESC
        LIMIT 10
    </select>
</mapper>