<!DOCTYPE html>
<!-- darkpan 왼쪽메뉴 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="fragment-darkpan-menu">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="horror" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-ghost me-2"></i>Playground</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a href="horror" class="nav-item nav-link active"><i class="fa fa-home me-2"></i>Horror Home</a>
                    <a href="horrorStoryList" class="nav-item nav-link"><i class="fa fa-quote-left me-2"></i>무서운이야기</a>
                    <a href="horrorPicture" class="nav-item nav-link"><i class="fa fa-play me-2"></i>무서운동영상</a>
                    <a href="home" class="nav-item nav-link"><i class="fa fa-reply me-2"></i>Playground 홈</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
    </th:block>
</html>