<!DOCTYPE html>
<!-- darkpan 왼쪽메뉴 -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="fragment-darkpan-menu">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Playground</h3>
                </a>
                <div class="navbar-nav w-100">
                    <a href="horrorStoryHome.html" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Horror Home</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-laptop me-2"></i>Horror</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="horrorStory" class="dropdown-item">무서운이야기</a>
                            <a href="typography.html" class="dropdown-item">사진</a>
                            <a href="element.html" class="dropdown-item">경험담</a>
                        </div>
                    </div>
                    <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Playground 홈</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
    </th:block>
</html>