<!DOCTYPE html>
<!-- darkpan 공통스크립트. 파일 하단에 위치시킨다. -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="fragment-darkpan-script">
        <!-- JavaScript Libraries -->
        <!--<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>-->
        <!--<script src="/static/theme/darkpan/js/jquery-3.4.1.min.js"></script>
        <script src="/static/theme/darkpan/js/bootstrap5.bundle.min.js"></script>-->
        <link href="/static/theme/darkpan/js/jquery-3.4.1.min.js">
        <link href="/static/theme/darkpan/js/bootstrap5.bundle.min.js">
        <script src="/static/theme/darkpan/lib/chart/chart.min.js"></script>
        <script src="/static/theme/darkpan/lib/easing/easing.min.js"></script>
        <script src="/static/theme/darkpan/lib/waypoints/waypoints.min.js"></script>
        <script src="/static/theme/darkpan/lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="/static/theme/darkpan/lib/tempusdominus/js/moment.min.js"></script>
        <script src="/static/theme/darkpan/lib/tempusdominus/js/moment-timezone.min.js"></script>
        <script src="/static/theme/darkpan/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

        <!-- Template Javascript -->
        <script src="/static/theme/darkpan/js/main.js"></script>

        <!-- common js-->
        <script src="/static/common/js/common.js"></script>
    </th:block>
</html>