<!DOCTYPE html>
<!-- darkpan 공통 header -->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="search-filter">
    <div class="d-flex justify-content-center mb-5">
        <form id="SEARCH_FORM" onsubmit="return false;" class="d-md-flex" style="width:70%;">
            <input class="form-control bg-dark border-0" id="searchText" name="searchText" type="search" placeholder="Search" onkeyup="enterSearch()">
        </form>
    </div>

    <script type="application/javascript">
        window.onload = () => {

        }

        function enterSearch(){
            if(window.event.keyCode == 13){
                goSearch();
            }
        }

    </script>
</th:block>
</html>