<!DOCTYPE html>

<!-- =========================================================
무서운이야기 목록 페이지
========================================================= -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{theme/darkpan/layout/default}">
<th:block layout:fragment="content-darkpan">
    <!-- Horror List Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">무서운이야기</h6>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">조회수</th>
                                <th scope="col">제목</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">날짜</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="story : ${storyList}">
                                <td th:text="${story.viewCount}"></td>
                                <td><a href="horrorStoryDetail"  th:text="${story.title}"></a></td>
                                <td th:text="${story.name}"></td>
                                <td th:text="${story.enterDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Horror List End -->

</th:block>
</html>