<!DOCTYPE html>

<!-- =========================================================
무서운이야기 목록 페이지
========================================================= -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{theme/darkpan/layout/default}">
<th:block layout:fragment="content-darkpan">
<div class="layout-wrapper">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary p-4">
            <h6 class="text-body">무서운이야기</h6>
        </div>
    </div>
    <!-- Horror List Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <th:block th:replace="theme/darkpan/fragments/searchFilter :: search-filter"></th:block>
                    <div class="table-responsive">
                        <table class="table" id="HORR_ST">
                            <thead>
                            <tr>
                                <th scope="col">제목</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">날짜</th>
                                <th scope="col">조회수</th>
                            </tr>
                            </thead>
                            <tbody id="list"></tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <i class="fa fa-list me-2"></i>
                        <a href="javascript:goStoryNew();">
                            <button class="btn btn-outline-primary m-2" type="button">글쓰기</button>
                        </a>
                    </div>
                    <div> <!--페이징-->
                        <ul class="pagination btn-group me-2 justify-content-center" role="group" aria-label="Second group"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Horror List End -->
</div>
<script type="application/javascript">
    function goSearch() {
        findAll(1);
        console.log("goSearch");
    }

    <!-- 조회 API 호출 -->
    async function getJson(uri, params) {
        if (params) {
            uri = uri + '?' + new URLSearchParams(params).toString();
        }

        const response = await fetch(uri);

        if (!response.ok) {
            await response.json().then(error => {
                throw error;
            });
        }

        return await response.json();
    }

    <!-- 글 목록 조회 -->
    function findAll(page){
        const searchText = $("#SEARCH_FORM").find("#searchText").val();

        const params = {
                page: page,
                pageCount: 5,
                pageSize: 5,
                searchText: searchText
        }

        getJson('/horror/story/list', params).then(response => {
            if(!Object.keys(response).length){
                noData();
                drawPages();
                return false;
            }

            let html = '';
            let num = response.pagingDTO.pagination.totalCnt - ((response.pagingDTO.page -1) * response.pagingDTO.pageCount);

            response.list.forEach((obj, idx) => {
                html += `
                    <tr>
                        <td width="50%"><a href="#" onclick="goStoryDetail(${obj.horrStNo})">${obj.title}</a></td>
                        <td width="25%">${obj.enterBy}</td>
                        <td width="15%">${obj.enterDate}</td>
                        <td width="10%">${obj.viewCount}</td>
                    </tr>
                    `;

            });
           document.getElementById('list').innerHTML = html;
           drawPages(response.pagingDTO);

        });

    }

    <!-- 페이지 html 랜더링-->
    function drawPages(params) {
        if (!params) {
            document.querySelector('.pagination').innerHTML = '';
            return false;
        }

        let html = ``;
        const pagination = params.pagination;

        // 첫 페이지, 이전 페이지
        if (pagination.existPrevPage) {
            html += `
                <li class="page-item"><button type="button" onclick="findAll(1);" class="btn btn-secondary"><i class="fa fa-angles-left"></i></button> </li>
                <li class="page-item"><button type="button" onclick="findAll(${pagination.startPage - 1});" class="btn btn-secondary"><i class="fa fa-angle-left"></i></button> </li>
           `;
        }

        // 페이지 번호
        for (let i = pagination.startPage; i <= pagination.endPage; i++) {
            const active = (i === params.page) ? 'btn btn-primary' : 'btn btn-secondary';
            html += `<li class="page-item"><button type="button" onclick="findAll(${i})" class="${active}">${i}</button><li>`
        }

        // 다음 페이지, 마지막 페이지
        if (pagination.existNextPage) {
            html += `
                <li class="page-item"><button type="button" onclick="findAll(${pagination.endPage + 1});" class="btn btn-secondary"><i class="fa fa-angle-right"></i></button> </li>
                <li class="page-item"><button type="button" onclick="findAll(${pagination.totalPageCnt});" class="btn btn-secondary"><i class="fa fa-angles-right"></i></button> </li>
            `;
        }

        document.querySelector('.pagination').innerHTML = html;
    }


    <!-- 상세페이지로 이동-->
    function goStoryDetail(horrStNo){
       location.href='/horror/story/detail?horrStNo=' + horrStNo;
    }

    <!-- 글쓰기 페이지로 이동-->
    function goStoryNew(){
       location.href='/horror/story/new';
    }


</script>
</th:block>
</html>