<!DOCTYPE html>

<!-- =========================================================
무서운이야기 글쓰기
========================================================= -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{theme/darkpan/layout/default}">
<th:block layout:fragment="content-darkpan">
<div class="container-fluid pt-4 px-4">
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-4">
            <h6 class="text-body mb-4">무서운이야기</h6>
            <form action="/horror/story/new" id="STORY_FORM" method="post" enctype="multipart/form-data">
                <input type="hidden" name="horrStNo">
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">제목</label>
                    <div class="form-floating col-sm-10">
                        <input type="text" id="title" name="title" class="form-control" placeholder="제목을 입력해주세요">
                        <label for="title">title</label>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-2 col-form-label">내용</label>
                    <div class="form-floating col-sm-10">
                        <textarea class="form-control" id="content" name="content" placeholder="내용을 입력해주세요" style="height: 150px;"></textarea>
                        <label for="content">content</label>
                    </div>
                </div>
                <div class="mt-5 mb-5">
                    <button type="button" onclick="addFile()" class="btn btn-outline-light m-2">파일추가</button>
                    <div id="add-file" class="mb-3"></div>
                </div>
                <div class="mt-5 mb-5">
                    <button type="button" onclick="saveStory()" class="btn btn-primary">저장</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="application/javascript">
    let mode; // 입력모드/수정모드
    let fileNum = 0; // 첨부파일 번호

    <!-- dom 트리 준비이후 실행-->
    function goSearch(){
        mode = checkMode(); // 입력모드/수정모드 check
        console.log('mode: ' + mode);
    };

    <!-- 글쓰기인지 수정인지 검사. 직관적으로 알기쉽게 true/false 보다 MODIFY/NEW로 반환값을 정했음.-->
    function checkMode(){
        const story = '[[${story}]]';
        console.log(story);
        if(typeof story != 'undefined' && story != ''){
            // 수정인 경우 값 설정
            $('input[name="horrStNo"]').val(story.horrStNo);
            $('input[name="title"]').val(story.title);
            $('textarea[name="content"]').val(story.content);
            return 'MODIFY';

        }
        return 'NEW';

    }

    <!-- 값을 체크하고 저장한다. -->
    function saveStory(){
        if($('input[name="title"]').val() == ""){
            alert('제목을 입력해주세요');
            return;
        }
        if($('textarea[name="content"]').val() == ""){
            alert('내용을 입력해주세요');
            return;
        }

        $('#STORY_FORM').submit();
    }

    // 필수입력을 체크한다.
    function checkEmpty(_objname, _msg){

    }

    <!-- 첨부를 추가합니다. -->
    function addFile(){
        $('#add-file').append('<input name="file" type="file" class="mt-1 form-control form-control-sm bg-dark">');
    }


</script>
</th:block>
</html>