<!DOCTYPE html>
<!-- =========================================================
무서운이야기 상세페이지
========================================================= -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{theme/darkpan/layout/default}">
<th:block layout:fragment="content-darkpan">
<div>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary p-4">
            <h6 class="text-body">무서운이야기</h6>
        </div>
    </div>
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded-top p-5 full-height">
            <h5 th:text="${story.title}">제목</h5>
            <div class="d-flex align-items-center justify-content-between mb-4 pb-4 pt-4" style="border-bottom:1px solid #666;">
                <div>
                    <strong><span th:text="${story.enterBy}">작성자</span></strong> | <span th:text="${story.enterDate}">작성일</span>
                </div>
                <div>
                    <strong>조회수</strong> : <span th:text="${story.viewCount}">조회수</span>
                </div>
            </div>
            <div class="row pt-4" style="min-height: 150px;">
                <p th:text="${story.content}">내용</p>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4">
                <a href="javascript:goHorrorStory();"><i class="fa fa-list me-2"></i></a>
                <div>
                    <button type="button" th:onclick="goMmodify([[${story.horrStNo}]])" class="btn btn-outline-warning m-2">수정</button>
                    <button type="button" th:onclick="deleteStory([[${story.horrStNo}]])" class="btn btn-outline-light m-2">삭제</button>
                </div>
            </div>
            <div class="row mt-4 pb-4 pt-4" style="border-top:1px solid #333;">
                <div th:each="file : ${files}">
                    <span>
                        <i class="fa fa-paperclip"></i>
                        <a th:text="${file.fileName}" th:href="|javascript:download(${file.fileNo})|"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    let horrStNo = '[[${story.horrStNo}]]';

    function goSearch(){
        addViewCount();
    }

    <!-- 수정 -->
    function goMmodify(horrStNo){
        location.href='/horror/story/new?horrStNo=' + horrStNo;
    }

    <!-- 삭제 -->
    function deleteStory(horrStNo){
        if(!confirm('삭제하시겠습니까?')) return;

        var url = '/horror/story/delete';
        var param = {'horrStNo':horrStNo};
        var after = goHorrorStory();

        ajaxJson(url, param, after);
    }

    <!-- 파일 다운로드-->
    function download(fileNo){
        console.log(fileNo)

        location.href='/download?fileNo=' + fileNo;
    }

    function aa(){
        alert('a');
    }

    <!-- 조회수를 업데이트 한다.-->
    function addViewCount(){
        var url = '/horrst/add-viewcount';
        var param = {'horrStNo':horrStNo};

        ajaxJson(url, param);
    }

</script>

</th:block>
</html>