<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="fragment-footer">
        <!-- Footer -->
        <footer class="content-footer footer bg-footer-theme" style="min-height: 1px;">
            <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
                <div class="mb-2 mb-md-0">made by xunxou</div>
                <div>xunxou@gmail.com</div>
            </div>
        </footer>
        <!-- / Footer -->
    </th:block>
</html>