/* sneat, darkpan 의 최상위 div에 height 지정 */
.full-height{
    height: 75vh !important;
}

/* font color */
.text-red {
    color: #EB1616 !important;
}

.text-green {
    color: #198754 !important;
}

.text-light-gray {
    color: #B2B8D9 !important;
}

.text-gray-title {
    color: #666 !important;
}

