/* sneat, darkpan 의 최상위 div에 height 지정 */
.layout-wrapper {
    height: 100%;
}


.full-height{
    height: 100vh !important;
}

/* font color */
.text-red {
    color: #EB1616 !important;
}

.text-green {
    color: #198754 !important;
}

