/* sneat, darkpan 의 최상위 div에 height 지정 */
.full-height{
    min-height: 900px !important;
}

.hide {
    display: none;
}

.table-layout-fixed{
    table-layout: fixed
}

.text-ellipsis{
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
}

.line-break{
    word-wrap: break-word;
    word-break: break-all;
}


/* font color */
.text-red {
    color: #EB1616 !important;
}

.text-green {
    color: #198754 !important;
}

.text-light-gray {
    color: #B2B8D9 !important;
}

.text-gray-title {
    color: #666 !important;
}

